*{
    margin:0;
    padding:0;
}
body{
    background-color:#93748A;
    text-align: center;
}
h1{
    font-size:8rem;
}
.container{
    height:70vh;
    display: flex;
    justify-content:center;
    align-items:center;
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius:1rem;
    border:none;
    font-size:10vmin;
    color:#9F9FAD;
    background-color: whitesmoke;
}
#reset{
    padding:1rem;
    font-size:1.5rem;
    background-color: #FFE548;
    color:#e49c02;
    border-radius:1rem;
    border:none;
}
#newGame{
    padding:1rem;
    font-size:1.5rem;
    background-color: #FFE548;
    color:#e49c02;
    border-radius:1rem;
    border:none;
}
#mess{
    font-size: 8vmin;
    color:red;
}
.mess_cont{
    height:100vmin;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 2rem;

}
.hide{
    display:none;
}